<div class="container my-5 py-4">
	<div class="row">
		<div class="col-3 text-center">
			<h4 class="mb-3">Máscara</h4>
			<div class="row">
				<div class="col-6 d-flex flex-column align-items-center">
					<img src="assets/images/required-mask.png" alt="">
					<div>Obrigatório</div>
				</div>
				<div class="col-6 d-flex flex-column align-items-center">
					<img src="assets/images/recommended-mask.png" alt="">
					<div>Recomendado</div>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<h4 class="mb-3">Toalha</h4>
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/required-towel.png" alt="">
					<div>Obrigatório</div>
				</div>
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/recommended-towel.png" alt="">
					<div>Recomendado</div>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<h4 class="mb-3">Bebedouro</h4>
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/allowed-fountain.png" alt="">
					<div>Parcial</div>
				</div>
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/forbidden-fountain.png" alt="">
					<div>Proibido</div>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<h4 class="mb-3">Vestiários</h4>
			<div class="row">
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/allowed-lockerroom.png" alt="">
					<div>Liberado</div>
				</div>
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/partial-lockerroom.png" alt="">
					<div>Parcial</div>
				</div>
				<div class="col d-flex flex-column align-items-center">
					<img src="assets/images/not_allowed-lockerroom.png" alt="">
					<div>Fechado</div>
				</div>
			</div>
		</div>
	</div>
</div>