<div class="container">

	<div class="box">
		<h2><img src="assets/images/icon-hour.png" alt=""> Horário</h2>
		<h3>Qual período quer treinar?</h3>

		<form action="" [formGroup]="formGroup">
			<div class="form-group">
				<div class="form-control border-bottom">
					<label class="d-flex align-items-center">
						<input type="radio" name="periodo" formControlName="periodo" value="manha">
						<div class="flex-fill">Manhã</div>
						<div>06:00 às 12:00</div>
					</label>
				</div>
				<div class="form-control border-bottom">
					<label class="d-flex align-items-center">
						<input type="radio" name="periodo" formControlName="periodo" value="tarde">
						<div class="flex-fill">Tarde</div>
						<div>12:01 às 18:00</div>
					</label>
				</div>
				<div class="form-control border-bottom">
					<label class="d-flex align-items-center">
						<input type="radio" name="periodo" formControlName="periodo" value="noite">
						<div class="flex-fill">Noite</div>
						<div>18:01 às 23:00</div>
					</label>
				</div>
			</div>
			<div class="d-flex justify-content-between">
				<label>
					<input type="checkbox" formControlName="showClosed" id=""> Exibir unidades fechadas
				</label>
				<div>Resultados encontrados <strong>{{filteredResults.length}}</strong></div>
			</div>

			<div class="button-bar">
				<button type='button' class="primary" (click)="onSubmit()">Encontrar unidade</button>
				<button type='button' class="secondary" (click)="onClean()">Limpar</button>
			</div>
		</form>
	</div>

</div>